<mat-toolbar color="primary">

    <span>Booking management </span>
    <span class="example-spacer"></span>

</mat-toolbar>

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-wrap">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>hall name</th>

                                <th>Price</th>
                                <th>person in charge</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">10</th>
                                <td>Mark </td>
                                <td>Jacob</td>
                                <td>3000</td>


                                <td><a href="#" class="btn btn-success">Progress</a></td>
                            </tr>

                            <tr>

                                <th scope="row">10</th>
                                <td>Mark </td>

                                <td>$3000</td>
                                <td>Jacob</td>
                                <td><a href="#" class="btn btn-warning">Open</a></td>
                            </tr>

                            <tr>

                                <th scope="row">10</th>
                                <td>Mark </td>

                                <td>$3000</td>
                                <td>Jacob</td>
                                <td><a href="#" class="btn btn-danger">On hold</a></td>
                            </tr>

                            <tr>

                                <th scope="row">10</th>
                                <td>Mark </td>
                                <td>$3000</td>
                                <td>Jacob</td>
                                <td><a href="#" class="btn btn-success">Progress</a></td>
                            </tr>

                            <tr>

                                <th scope="row">10</th>
                                <td>Mark </td>
                                <td>$3000</td>
                                <td>Jacob</td>
                                <td><a href="#" class="btn btn-danger">On hold</a></td>
                            </tr>

                            <tr>

                                <th scope="row">10</th>
                                <td>Mark </td>
                                <td>$3000</td>
                                <td>Jacob</td>
                                <td><a href="#" class="btn btn-warning">Open</a></td>

                                <tr>

                                    <th scope="row">10</th>
                                    <td>Mark </td>
                                    <td>$3000</td>
                                    <td>Jacob</td>
                                    <td><a href="#" class="btn btn-warning">Open</a></td>
                                </tr>

                                <tr>

                                    <th scope="row">10</th>
                                    <td>Mark </td>

                                    <td>Jacob</td>
                                    <td>$3000</td>
                                    <td><a href="#" class="btn btn-success">Progress</a></td>
                                </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
